.container {
  padding: 2rem;
  background-image: url(../assets/logo-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  text-align: right;

  @media (min-width: 700px) {
    background-image: url(../assets/logo-bg-tablet.png);
  }

  @media (min-width: 1280px) {
    padding: 3rem;
    background-image: url(../assets/logo-bg.png);
    background-size: contain;
    background-position: top right;
  }
}

.text {
  margin-left: auto;
  max-width: 360px;

  @media (min-width: 700px) {
    max-width: 550px;
  }
}