.blackout {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}

.modalWindow {
  position: absolute;
  width: 90%;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 35px 5px rgba(0, 0, 0, .55);
  background-color: #D1D9DC;
  text-align: center;
  color: #073b4c;

  @media (min-width: 700px) {
    max-width: 650px;
  }
  @media (min-width: 1280px) {
    max-width: 850px;
  }
}

.closeBtn {
  display: block;
  margin-left: auto;
  margin-bottom: 1.5rem;
  top: 0;
  left: 100%;
  height: auto;
  width: 2rem;
  cursor: pointer;
  transition: .2s linear;
  
  &:hover {
    transform: scale(1.5) rotate(90deg);
  }
}

.filesWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}

.fileButton {
  font-size: 1.15rem;
  letter-spacing: 1.1px;
  line-height: 1.5em;
  text-decoration: none;
  background-color: #073b4c;
  color: #ffffff;
  border-radius: 8px;
  padding: .55em;
  transition: .2s linear;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .75);
  }
}
